services:
  pozitiv-webserver:
    image: nginx:alpine
    container_name: pozitiv-nginx
    working_dir: /app
    depends_on:
      - pozitiv-php-fpm
    volumes:
      - .:/app
      - ./.docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "${NGINX_PORT}:80"
    restart: unless-stopped

  pozitiv-php-fpm:
    container_name: pozitiv-php-fpm
    build:
      context: .docker/php-fpm
      args:
        UID: ${UID}
        GID: ${GID}
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - NGINX_PORT=${NGINX_PORT}
    restart: unless-stopped

  pozitiv-db:
    container_name: pozitiv-db
    build:
      context: .docker/db
      args:
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ${DATABASES_PATH}:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USERNAME}
        MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "127.0.0.1:${MYSQL_PORT}:3306"
    restart: unless-stopped
