services:
  nginx:
    image: nginx:alpine
    container_name: pozitiv-nginx-prod
    working_dir: /app
    depends_on:
      - php-fpm-prod
    volumes:
      - .:/app
      - ./.docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "${NGINX_PORT}:80"
    restart: unless-stopped

  php-fpm-prod:
    container_name: pozitiv-php-fpm-prod
    build:
      context: .docker/php-fpm
      args:
        UID: ${UID}
        GID: ${GID}
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - NGINX_PORT=${NGINX_PORT}
    depends_on:
      - db-prod
    restart: unless-stopped

  db-prod:
    container_name: pozitiv-db-prod
    build:
      context: .docker/db
      args:
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ${DATABASES_PATH}:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USERNAME}
        MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "127.0.0.1:${MYSQL_PORT}:3306"
    restart: unless-stopped
